.App {
  font-family: sans-serif;
  text-align: center; 
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.btn {
    float: left;
    overflow: hidden;
}

.btn .btn-style {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar h1, h2, .btn, .btn-style {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

h1 {
  margin-top: 13px;
}

.cards {

  display: grid;
  
  grid-template-columns: repeat(3, 5fr);
  
  grid-auto-rows: auto;
  
  grid-gap: 1rem;
  
  }
  
  
  .card {
  display: grid;

  color:blueviolet;

  background-color: black;
  
  border: 2px solid #e7e7e7;
  
  border-radius: 4px;
  
  padding: 5rem;
  
  }

  .avatar {
    border-radius: 50%;
  }



